<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>

        <div class="logo">
            TaskFlow
        </div>

        <div class="nav-links">
            <a href="/login">Login</a>
            <a href="/register" class="register-btn">Register</a>
        </div>

    </nav>

    <section class="hero">

        <div class="hero-text">

            <h1>Manage your work, not your worries.</h1>

            <p>
                A simple productivity app that helps you organize projects,
                track deadlines and complete tasks efficiently.
            </p>

            <ul>
                <li>✔ Organize Projects</li>
                <li>✔ Track Progress</li>
                <li>✔ Meet Deadlines</li>
            </ul>

            <a href="/register" class="register-btn">
               Get Started
            </a>

        </div>

        <div class="hero-image">
            📋
        </div>

    </section>

</body>

</html>