<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login | TaskFlow</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="register-container">

   <h1>Welcome Back</h1>

{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}

<p>Login to continue using TaskFlow.</p>

<form method="POST">

    <input
        type="email"
        name="email"
        placeholder="Email Address"
        required>

    <input
        type="password"
        name="password"
        placeholder="Password"
        required>

    <button type="submit">
        Login
    </button>

</form>

</div>

</body>

</html>